<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ./partials/header %>
  <div class="container">

<form class="contactForm">
<div class="form-control">
<label name="first name">
<input class="firstName" name="firstName" value="">
</div>



</form>


  </div>

  <% include ./partials/footer %>
  </body>
  </html>