<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ./partials/header %>
     <video playsinline autoplay muted loop poster="/steel.jpeg" id="bgvid">
        <!--<source src="/adobe.mov" type="video/webm">-->
        <source src="./images/chiroVideo.mp4" type="video/mp4">
    </video>
    <script>
        vid = document.getElementById("bgvid")
        vid.play()
    </script>
    <div class=""><img class="grizChiroLogo" src="/images/grizChiroLogo.png"></div>
   


    <div class="col-md-4 treatments">
    	<img class="mainServices" src="/images/treatment.png">
    	<button class="btn btn-primary treatments">Treatments</button>
    </div>

    <div class="col-md-4 treatments">
    	<img class="mainServices" src="/images/treatment.png">
    	<button class="btn btn-primary services">Services</button>
    </div>

    <div class="col-md-4 treatments">
    	<img class="mainServices" src="/images/treatment.png">
    	<button class="btn btn-primary otherServices">Other Services</button>
    </div>
 <% include ./partials/footer %>
  </body>
</html>
